@using Models
@rendermode InteractiveServer

@if (CurrentJob != null)
{
    <div class="job-overview">
        <h2>Job Overview</h2>

        <div class="job-header">
            <h3>@CurrentJob.Title</h3>

            <a href="@CurrentJob.Url" target="blank" class="btn btn-primary">Quick apply</a>
        </div>
        <p>
            @CurrentJob.Description
        </p>

        <h6>@CurrentJob.EmployerName</h6>
        <p><strong>Location: </strong>@CurrentJob.Location</p>
    </div>
}

@code {
    [Parameter]
    public Job? CurrentJob { get; set; } 

    private void OnViewJob(Job job)
    {
        CurrentJob = job;
    }
}